<div class="course-card" [ngClass]="cardClasses()" #container>

  <div class="course-title" [ngStyle]="cardStyles()">
      {{ index }} {{ course.description }}
  </div>

  <ng-content select="course-image"></ng-content>

  <ng-content select=".course-description"></ng-content>

  <div class="course-category">
    @switch (this.course.category) {
      @case ("BEGINNER") {
        <div class="category">Beginner</div>
      }
      @case ("INTERMEDIATE") {
        <div class="category">Intermediate</div>
      }
      @case ("ADVANCED") {
        <div class="category">Advanced</div>
      }
      @default {
        <ng-container>
          <div class="category">Unknown</div>
        </ng-container>
      }
    }
  </div>

  <button (click)="onCourseViewed()">View Course</button>

</div>
