<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>


<div class="courses">

  @for(course of courses; track course; let indice = $index;
    let contador = $count; let primeiroElemento = $first;
    let ultimoElemento = $last; let par = $even; let impar = $odd) {

    <h1>Contador: {{ contador }}</h1>

    <course-card
      [course]="course"
      [index]="indice"
      [class.is-first]="primeiroElemento"
      [class.is-last]="ultimoElemento"
      [class.is-even]="par"
      [class.is-odd]="impar"
      (courseSelected)="onCourseSelected($event)" />
  }
  @empty {
    <h1>No courses found!</h1>
  }
</div>
